.carrousel{
  height: min(68vw,400px);
  margin-top: 1.6875rem;
  margin-bottom: 0.9375rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.carrousel__picture{
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.carrousel__counter{
  display: none;
}

.carrousel__button{
  background-image: url(../../assets/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 6.4vw;
  height: 6.4vw;
  position: absolute;
  top: 45%;
  overflow: hidden;
  color: transparent;
  
}

.carrousel__previous{
  left: 0;
}

.carrousel__previous:active + .carroussel__container {
  transform: translateX(-100%);
}

.carrousel__next{
  right: 0;
  transform: rotate(180deg);
}

@media screen and (min-width: 700px) { 
  .carrousel{
    height: 25.9375rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
  }
  .carrousel__counter{
    display: block;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom: 54.92px;
    font-size: max(min(1.25vw,32px),1rem);
  }
}

@media screen and (min-width: 1440px) {
  .carrousel__button{
    height: min(5.5vw,85px);
  }
  
}
