.about__mask{
  width: 100%;
  height: 13.9375rem;
  border-radius: 10px;
  background-color: #F7F7F7;
  background-image: url(../assets/about-mask-mobile.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

.about__background{ 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1440px) {
  .about__mask{
    border-radius: 25px;
    background-color: #F7F7F7;
    background-image: url(../assets/about-mask-desktop.png);
  }

  .dropdown__about>.dropdownn__content--open {
    font-size: 1.5rem;
  }
}
