.header__logo{
  background-image: url(../assets/logo-header.png );
  background-position: left;
  background-repeat: no-repeat;
  width: 39.2vw;
  height: 5.91133vh;
  background-size: contain;
}

@media screen and (min-width: 1440px) {
  .header__logo{
    width: 13.9808vw;
    height: 6.640625vh;
  }
}
