.header__logo{
  background-image: url(../assets/logo-header.png );
  background-position: center;
  background-repeat: no-repeat;
  width: 44%;
  /* height: 3rem; */
  height: 5.91133vh;
}

@media screen and (min-width: 1440px) {
  .header__logo{
    width: 17%;
    /* height: 4.25rem; */
    height: 6.640625vh;
    background-size: cover;
  }
}
