.header__logo{
  background-image: url(../assets/logo-header.png );
  background-position: left;
  background-repeat: no-repeat;
  min-width: 123.615px;
  min-height: 47px;
  height: 5.788178vh;
  background-size: contain;
}

@media screen and (min-width: 1440px) {
  .header__logo{
    min-height: 68px;
  }
}
