.carrousel{
  height: 15.9375rem;
  margin-top: 1.6875rem;
  margin-bottom: 0.9375rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.carrousel__picture{
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}



.carrousel__button{
  background-image: url(../assets/arrow-mobile.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 45%;
  overflow: hidden;
  color: transparent;
}

.carrousel__previous{
  left: 0;
}

.carrousel__previous:active + .carroussel__container {
  transform: translateX(-100%);
}

.carrousel__next{
  right: 0;
  transform: rotate(180deg);
}

@media screen and (min-width: 1440px) {
  .carrousel{
    height: 25.9375rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
  }
  .carrousel__button{
    background-image: url(../assets/arrow-desktop.svg);
    top: 35%;
    width: 96px;
    height: 119.64px;
  }
}
