.dropdown{
  position: relative;
  margin: max(min(5.33333vw, 31px), 20px) auto;
}

.dropdown__about:last-child{
  margin-bottom: min(44.8vw, 201px);
}

/* ne fonctionne pas avec firefox */
.dropdown__about:has(.dropdown__arrow--open) ~ .dropdown__about:last-child,
.dropdown__about:last-child:has(.dropdown__arrow--open) {
  margin-bottom: min(5.33333vw, 30px);
}

.dropdown__button{
  background-color: #FF6060;
  color:#FFFFFF;
  width:100%;
  height: max(min(8vw, 47px), 25px);
  border-radius: 5px;
  padding: 0 max(min(2.66666vw, 20px), 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__arrow--close{
  transform: rotate(180deg);
}

.dropdown__arrow--open{
  transform: rotate(0deg);
}

.dropdownn__content--close{
  display: none;
}

.dropdownn__content--open{
  display: block;
  position: relative;
  border-radius: 5px;
  top:-5.75px;
  z-index: -1;
  background-color: #F7F7F7;
  padding: calc(1.43875rem + 5.75px) 0.431875rem 0.08125rem 0.719375rem;
  font-size: max(min(3.2vw, 24px), 12px);
  line-height: 142.6%;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .dropdown__about {
    width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .dropdown__lodging {
    --button-height :3.25rem;
    width: 36.375rem;
    margin: 0;
  }

  .dropdown__about{
    --button-height :2.9375rem;
    width: min(71.04166vw, 1500px);
      margin: max(min(2.15277vw, 40px), 20px) auto;
  }

        .dropdown__button {
    height: var(--button-height);
  }

  .dropdownn__content--open{
    top:-10px;
    padding: 2.5rem 0.75rem 1.6875rem 1.25rem;
  }
}
