.dropdown{
  position: relative;
  margin: 1.25rem 0;
}

.dropdown__button{
  background-color: #FF6060;
  color:#FFFFFF;
  width:100%;
  height: 1.870625rem;
  border-radius: 5px;
  padding: 0 0.64rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__arrow--close{
  transform: rotate(180deg);
}

.dropdown__arrow--open{
  transform: rotate(0deg);
}

.dropdownn__content--close{
  display: none;
  
}

.dropdownn__content--open{
  display: block;
  position: relative;
  border-radius: 5px;
  top:-5.75px;
  z-index: -1;
  background-color: #F7F7F7;
  padding: 1.43875rem 0.431875rem 0.08125rem 0.719375rem;
  font-size: 0.75rem;
  line-height: 142.6%;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .dropdown__lodging {
    --button-height :3.25rem;
    width: 36.375rem;
    margin: 0;
  }

  .dropdown__about{
    --button-height :2.9375rem;
    width: 63.9375rem;
    margin: 1.9375rem auto;
  }

  .dropdown__button {
    padding: 0 1.25rem;
    height: var(--button-height);
  }

  .dropdownn__content--open{
    top:-10px;
    padding: 2.5rem 0.75rem 1.6875rem 1.25rem;
  }
}
