.thumbs{
    border-radius: 25px;
    display: grid;
    row-gap: 2.46306vh;;
    justify-items: center;
  }

@media screen and (min-width:555px){
  .thumbs{
    padding: 5.46875vh 3.472223vw;
    column-gap: 4.166667vw;
    row-gap: 4.8828125vh;
    background-color: #F7F7F7;
  }
}

/* FIXME écran grand mobile en paysage */

@media screen and (min-width:600px) {
  .thumbs{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .thumbs{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
