.thumbs{
    padding: 0;
    border-radius: 25px;
    display: grid;
    row-gap: 1.25rem;
  }

@media screen and (min-width: 1440px) {
  .thumbs{
    padding: 3.5rem 3.125rem;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3.75rem;
    row-gap: 3.125rem;
    background-color: #F7F7F7;
  }
}
