.host{
display : flex;
justify-content: space-between;
align-items: center;
width: 40.6%;
height: 2.0625rem;

}
.host__identity{
  display :flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 2rem;
  width: 5.813rem;
  font-size: 0.75rem;
}

.host__picture{
width: 2rem;
height: 2rem;
border-radius: 50%;
background-color: #C4C4C4;
}

.host__img{
  border-radius: 50%;
}

@media screen and (min-width: 1440px) {
  .host{
    /* width: 13.468%; */
    width: 167px;
    height: 4rem;
  }
  .host__identity{
    height: 3.25rem;
    width: 5.8125rem;
    font-size: 1.125rem;
    margin-right: 0.625rem;
  }

  .host__picture{
  width: 4rem;
  height: 4rem;
  }
}
