.host{
display : flex;
justify-content: space-between;
align-items: center;
width: 36.3vw;
height: 100%;
}
.host__identity{
  display :flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 24.80vw;
  font-size: 3.2vw;
}

.host__picture{
width: 8.53vw;
height: 8.53vw;
border-radius: 50%;
background-color: #C4C4C4;
}

.host__img{
  border-radius: 50%;
}

@media screen and (min-width: 550px) {
  .host{
    width: 25vh;
  }
  .host__identity{
    width: 16.777vh;
    font-size: 2.16vh;
  }
  .host__picture{
    width: 5.77vh;
    height: 5.77vh; 
  }
}

/* TODO voir pour diminuer le break point */
@media screen and (min-width: 1440px) {
  .host{
    width: 11.6vw;
    height: 6.25vh;
  }
  .host__identity{
    height: 5.079vh;
    width: 6.459vw;
    font-size: 1.25vw;
    margin-right: 0.695vw;
  }

  .host__picture{
  width: 4.445vw;
  height: 4.445vw;
  }
}
