.host{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.host__identity{
  display :flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  font-size: min(3.2vw, 26px);
  margin-right: 2.8vw;
}

.host__picture{
  width: 8.53vw;
  height: 8.53vw;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.host__img{
  border-radius: 50%;
}

@media screen and (min-width: 1440px) {
  .host {
    width: 11.6vw;
  } 
  .host__identity {
    height: 3.61111vw; 
    line-height: 1.78vw;
    font-size: 1.25vw;
    margin-right: 0.69444vw;
  }
  .host__picture {
    width: 4.445vw;
    height: 4.445vw;
  }
}
