.lodging__dropdowns{
  font-weight: 500;
  font-size: 1.60099vh;
  margin-bottom: 1.72414vh;
}

@media screen and (min-width: 700px) {
  .lodging__details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .lodging__dropdowns {
    --lodging-dropdowns: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    margin-bottom: 0.875rem;
  }

  .dropdown__lodging .dropdownn__content--open {
    font-size: 1.125rem;
    height: calc(calc(100% - var(--button-height)) + 10px);
  }
}
