

.lodging__dropdowns{
  font-weight: 500;
  font-size: 1.60099vh;
  margin-bottom: 1.72414vh;;
}

@media screen and (min-width: 1440px) {
  .lodging__details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .lodging__dropdowns{
    --lodging-dropdowns: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
  }

  .dropdown__lodging .dropdownn__content--open {
    font-size: 1.125rem;
    height: calc(100% - var(--button-height));
  }
}
