.lodging__title{
  font-size: 1.125rem;
  font-weight: 500;
}

.lodging__content{
  line-height: 142.6%;
  margin-bottom: 0.3125rem;
}

.lodging__location{
  font-size: 0.875rem; 
  line-height: 142.6%;
}

@media screen and (min-width: 1440px) {
  .lodging__title{
    font-size: 2.25rem;
  }

  .lodging__content{
    margin-bottom: 0;
  }

  .lodging__location{
    font-size: 1.125rem;
  }
}
