.header__nav{
  width: 41.75%;
}
.nav__list{
  color: #FF6060;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  text-transform: uppercase; 
  text-align: end;
  /* font-size: 0.75rem; */
  font-size: 1.477833vh;
}

.nav__item--home{
  width: 15.72vw;
  /* height: 1.0625rem; */
  height: 2.0936vh;
}

.nav__item--about{
  width: 18.919vw;
  /* height: 1.0625rem; */
  height: 2.0936vh;
}

@media screen and (min-width: 1440px) {
  .header__nav{
  width: 24.952%;
  }

  .nav__list{
    height: 3.3204vh;
    /* font-size: 1.5rem; */
    font-size: 2.34375vh;
    text-transform: capitalize;
  }

  .nav__item--home{
    width: 9.4444444444vw;
    height: 3.3204vh;
  }

  .nav__item--about{
    width: 8.0555555556vw;
    height: 3.3204vh;
  }
}
