.host__rate{
  width: 26.133vw;
  height: 4vw;
  display: flex;
  justify-content: space-between;
}

.host__star{
  height: 4vw;
  width: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 550px) {
  .host__rate{
    width: 17.68vh;
  }

  .host__star{
    height: 2.706vh;
    width: 2.706vh;
  }
}

@media screen and (min-width: 1440px) {
  .host__rate{
    width: 14.445vw;
    align-items: center;
  }

  .host__star{
    height: 2.084vw;
    width: 2.084vw;
  }
}
