.host__rate{
  width: 26.133vw;
  height: 4vw;
  display: flex;
  justify-content: space-between;
}

.host__star{
  height: 4vw;
  width: 4vw;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  .host__rate{
    width: max(11.6vw, 181px);
    align-items: flex-end
  }
  .host__star{
    height: 3vw;
    width: 3vw;
  }
}

@media screen and (min-width: 1440px) {
  .host__rate{
    width: 13.61112vw;
    align-items: center;
  }
  .host__star{
    height: 2.084vw;
    width: 2.084vw;
  }
}
