.tags__list{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  align-content: center;
  margin-top: 0.625rem;
  margin-bottom: min(1.97044vh,0.5rem);
}

.tag{
  margin-bottom: 0.5rem;
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(min(22.4vw,115px),70px);
  height:max(min(4.8vw,25px),18px);
  background-color: #FF6060;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 142.6%;
}

.tag--short{
  font-size: max(min(2.66666vw,14px),10px);
}
.tag--long{ 
  font-size: max(min(2.13334vw,13px),8px);
}

@media screen and (min-width: 1440px) {
  .tags__list{
    margin-bottom: 0;
  }
  .tag{
    margin-top: 1.25rem;
    margin-bottom: 0;
    border-radius: 10px; 
  }
}
