.tags__list{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  align-content: center;
  margin-top: 0.625rem;
  margin-bottom: min(1.97044vh,0.5rem);
}

.tag{
  margin-bottom: 0.5rem;
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  height:max(min(4.8vw,25px),18px);
  background-color: #FF6060;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 142.6%;
  font-size: max(min(2.66666vw,14px),10px);
  padding :0 1rem;
}

@media screen and (min-width: 1440px) {
  .tags__list{
    margin-bottom: 0;
  }
  .tag{
    margin-top: 1.25rem;
    margin-bottom: 0;
    border-radius: 10px; 
  }
}
