
.thumb{
  max-width : 350px;
  height: min(31.40394vh,340px);
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

.thumb--red{
  background-color: #FF6060;
}

.thumb__background{
  height: 100%;
  max-width: max-content;
  background: linear-gradient(180deg, 
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  position: relative;
}

.thumb__cover{
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.thumb__content{
  position : absolute;
  bottom: 0;
  margin: 0 5.25137vw 1.84729vh 5.25137vw; 
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 500;
}

@media screen and (min-width: 700px) {
  .thumb{
    /* max-width: 450px; */
    /* width: 23.611112vw; */
    height: min(33.203125vh,340px);
    /* height: 33.203125vh; */
  }

  .thumb__content{
    margin: 0 1.388889vw 1.953125vh 1.388889vw; 
  }
}
