/* FIXME décalage entre fond rouge et image de la cover */
.thumb{
  /* margin: 3.125rem; */
  height: 15.9rem;
  background-color: #FF6060;
  border-radius: 10px;
  margin-bottom: 1.25rem;
}

.thumb__background{
  height: 100%;
  background: linear-gradient(180deg, 
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  overflow:hidden;
  position: relative;
}

.thumb__cover{
  height: 100%;
  /* object-fit: cover; */
}

.thumb__content{
  position : absolute;
  bottom: 0;
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 1.231875rem 0.9375rem 1.231875rem; 

}

@media screen and (min-width: 1440px) {
  .thumb{
    width: 21.2rem;
    height: 21.2rem;
  }
}
