.header__nav{
  --font-size-nav: max(min(3.2vw,1.5rem),0.75rem);
  width: max(min(37.334vw,309px),120px);
}
.nav__list{
  color: #FF6060;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  text-transform: uppercase; 
  text-align: end;
  font-size: var(--font-size-nav);
}

.nav__item--home{
  width:max(min(15.72vw,136px), 53px);
}

.nav__item--about{
  width:max(min(18.919vw,116px), 65px);
}

@media screen and (max-width: 374px) {
  .header__nav{
    width: 90%;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 700px) {
  .nav__list{
    text-transform: capitalize;
  }
}
