.header__logo{
  background-image: url(../../assets/logo-header.svg );
  background-position: left;
  background-repeat: no-repeat;
  width: 38.66666vw;
  height: min(12.53333vw, 47px);
  background-size: contain;
}

@media screen and (min-width: 700px) {
  .header__logo{
    width: 14.60555vw;
    height: min(4.7222vw, 250px)
  }
}
